.madrid-salas{
    max-width:1400px;
    margin:auto;
    padding:80px 20px;
}

.madrid-salas h2{
    text-align:center;
    margin-bottom:50px;
    font-size:2.5rem;
    color:#f59e0b;
}

.madrid-sala{
    width:100%;
    display:flex;
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    margin-bottom:40px;
    box-shadow:0 10px 30px rgba(0,0,0,.25);
    transition:.3s;
}

.madrid-sala:hover{
    transform:translateY(-5px);
}

.madrid-sala img{
    width:400px;
    min-width:400px;
    height:300px;
    object-fit:cover;
}

.madrid-info{
    padding:35px;
    flex:1;
}

.madrid-badge{
    display:inline-block;
    background:#dc2626;
    color:white;
    padding:8px 15px;
    border-radius:30px;
    font-weight:700;
    margin-bottom:15px;
}

.madrid-info h3{
    font-size:2rem;
    margin-bottom:10px;
    color:white;
}

.ubicacion{
    color:#f59e0b;
    margin-bottom:20px;
    font-weight:600;
}

.madrid-info p{
    color:#cbd5e1;
    margin-bottom:25px;
}

.madrid-datos{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.madrid-datos span{
    background:#0f172a;
    padding:10px 15px;
    border-radius:10px;
    color:white;
}

.madrid-btn{
    display:inline-block;
    background:#dc2626;
    color:white;
    text-decoration:none;
    padding:14px 25px;
    border-radius:10px;
    font-weight:600;
    transition:.3s;
}

.madrid-btn:hover{
    background:#ef4444;
}